<div fxLayout="column" fxFlexFill>
    <div fxFlex="100%">
        {{data}}
    </div>
    <div fxFlex="36px" dir="rtl">
        <button mat-raised-button color="primary" (click)="onCancel()">Cancel</button>
        <button mat-button color="primary" (click)="onOk()">OK</button>
    </div>
</div>