<div class="actions-container">
    <button mat-raised-button (click)="onCreate()">
        <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
    </button>
</div>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let person"> {{person.id}} </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let person">
                {{person.firstName + ' ' + person.lastName}}
            </td>
        </ng-container>

        <ng-container matColumnDef="personalNumber">
            <th mat-header-cell *matHeaderCellDef> PIN </th>
            <td mat-cell *matCellDef="let person"> {{person.personalNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let person"> {{person.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
            <th mat-header-cell *matHeaderCellDef> Birth Date </th>
            <td mat-cell *matCellDef="let person">
                {{ person.birthDate | date: 'MMM d, y' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="actions" >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let person" dir="rtl" style="width: 80px;">
                <button mat-icon-button isIconButton="true" (click)="onDelete(person.id)">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-icon-button isIconButton="true" (click)="onEdit(person.id)">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSize]="10" [hidePageSize]="true" (page)="onPageChanged()"></mat-paginator>
</div>