<div fxLayout="column" fxFlexFill>
    <mat-toolbar color="primary" fxFlex="56px" fxLayoutAlign="center center">
        <span [routerLink]="['/']">Person Sample</span>
    </mat-toolbar>
    <div fxFlex="100%" fxLayout="row" fxLayoutAlign="center start">
        <div fxFlex="0 1 1360px" style="padding: 20px;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>